/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

table.table {
    border-collapse: collapse;
    width: 100%;
}
table.table tr:nth-child(even){
    background-color: #f2f2;
}

table.table td, table.table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}
